@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --primary-color: #2284c5;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  box-sizing: border-box;
}

#root {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
}

.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: white;
  margin: 20px 0;
  /* background-color: red; */
}

.nav-bar button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.nav-bar article h1 {
  background: linear-gradient(94.74deg, #142B75 3.83%, #1E40AF 66.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.main-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.search-filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.search-filter .search {
  width: 68%;
  /* background-color: red; */
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.search-filter .search input{
  width: 100%;
  border: none;
}

.search-filter .search input::placeholder {
 font-size: 12px;
 border: none;
}

.search-filter .search input::content {
  font-size: 12px;
  border: none;
}

.search-filter .filter-button {
  width: 29%;
  /* background-color: red; */
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #1E40AF;
}

.search-filter .filter-button span{
  font-size: 14px;
  box-sizing: border-box;
  margin-left: 5px;
}

.navList2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.navList2 ul{
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navList2 ul button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  list-style: none;
}

.navList2 ul a {
  text-decoration: none;
  color: grey;
  font-size: 18px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
}

section.info-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  border-radius: 12px;
}

.info-box-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  justify-content: center;
  box-sizing: border-box;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  background: #1E40AF;
  color: white;
  font-size: 18px;
}

.info-box-header p {
  margin: 0;
  margin-left: 10px;
}

.info-box-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.info-box-content .box {
  width: 80%;
  margin: 10px 0;
  padding: 10px 0;
  box-sizing: border-box;
  border-bottom: 1px solid lightgrey;

}

.info-box-content .box .box-icon-text{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.info-box-content .box .box-icon-text svg{
  margin-right: 10px;
}

.box-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}

.box-text h3{
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
}


.box-text p  {
  margin: 0;
  font-size: 15px;
}

.box a {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: end;
  text-decoration: none;
  color: #1E40AF;
  font-size: 14px;
}
