@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --primary-color: #2284c5;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  box-sizing: border-box;
}

#root {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
}

.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: white;
  margin: 20px 0;
  /* background-color: red; */
}

.nav-bar button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.nav-bar article h1 {
  background: linear-gradient(94.74deg, #142B75 3.83%, #1E40AF 66.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.main-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.search-filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.search-filter .search {
  width: 68%;
  /* background-color: red; */
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.search-filter .search input{
  width: 100%;
  border: none;
}

.search-filter .search input::placeholder {
 font-size: 12px;
 border: none;
}

.search-filter .search input::content {
  font-size: 12px;
  border: none;
}

.search-filter .filter-button {
  width: 29%;
  /* background-color: red; */
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #1E40AF;
}

.search-filter .filter-button span{
  font-size: 14px;
  box-sizing: border-box;
  margin-left: 5px;
}

.navList2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.nav-buttons {
  display: none;
  margin: 10px;
  color: transparent;
}

/* .nav-button.active p{
  color: #1E40AF;
  border-bottom: 3px solid #1E40AF;
  box-sizing: border-box;
  padding-bottom: 5px;
  border-radius: 5px;
} */

.nav-button p {
  color: #333;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

.nav-button.active p {
  color: #1E40AF;
  border-bottom: 3px solid #1E40AF;
}

.navList2 ul{
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navList2 ul button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  list-style: none;
}

.navList2 ul a {
  text-decoration: none;
  color: grey;
  font-size: 18px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
}

section.info-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  border-radius: 12px;
}

.info-box-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  justify-content: center;
  box-sizing: border-box;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  background: #1E40AF;
  color: white;
  font-size: 18px;
}

.info-box-header p {
  margin: 0;
  margin-left: 10px;
}

.info-box-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 10px;
}

.info-box-content .box {
  width: 80%;
  margin: 10px 0;
  padding: 10px 0;
  box-sizing: border-box;
  border-bottom: 1px solid lightgrey;

}

.info-box-content .box .box-icon-text{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.info-box-content .box .box-icon-text svg{
  margin-right: 10px;
  width: 15%;
}

.box-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}

.box-text h3{
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  color: #1A1A1A;
  font-weight: 100;
}


.box-text p  {
  margin: 0;
  font-size: 15px;
  color: #1A1A1A;
  font-weight: 100;
}

.box a {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: end;
  text-decoration: none;
  color: #1E40AF;
  margin-top: 5px;
  font-size: 14px;
}

.contact-issue {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  border-radius: 12px;
  margin: 15px 0;
  padding: 20px;
  text-align: center;
}

.contact-issue select,
.find-rep {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

#issue-category , #location, .find-rep {
  border-radius: 8px;
}

.issue-category, .location {
  appearance: none;         /* Remove native arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'><path fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M36 18L24 30L12 18'/></svg>") no-repeat right 1rem center;
  background-size: 1rem;
  padding-right: 2.5rem; 
}

.issue-category.selected, 
.location.selected {
  border: 1px solid #1E40AF; /* regular options */
}

.issue-category:invalid {
  color: red; /* placeholder style */
}

.find-rep {
  background: #B3B3B3;
  color: white;
  margin-top: 10px;
}

.find-rep.active {
  background-color: #1E40AF;
  color: white;
  cursor: pointer;
}

